<!DOCTYPE html>
<html>
  <head>
    <title>Minha aplicação EJS</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"/>
    <!-- Link para o seu CSS personalizado -->
    <link href="meu-estilo.css" rel="stylesheet"/>
    <!-- Script para carregar o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Barra de menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="home">IMPORTAÇÕES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cadastro">CADASTRAR USUÁRIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="user">USUÁRIOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">SAIR</a>
            </li>
        </div>
      </div>
    </nav>
  <body>
  <body>
    <div class="container">
      <div class="row">

        <!-- Seção de Cadastro -->
        <div class="col-md-6">
          <div class="card cadastro">
            <div class="card-header">
              <h2>Cadastro</h2>
            </div>
            <div class="card-body">
              <form action="/cadastro" method="POST">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Link para o JavaScript do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3/kSDdN49yfL42c5rH/p5b0m9jW87ztvJLQ2t"
      crossorigin="anonymous"></script>
  </body>
</html>
