<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar usuário</title>
</head>
<body>
    <h1>Editar usuário</h1>
    <form method="POST" action="/user/edit">
        <input type="hidden" name="id" value="<%= user.id %>">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="<%= user.nome %>">
        <br>
        <label for="email">E-mail:</label>
        <input type="email" name="email" value="<%= user.email %>">
        <br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html> 